{
    margin:0; 
    padding:0;
    box-sizing:border-box;
}

.carousel-inner img {
    width: 100%;
    height: 90vh;
}

/*CONTENT*/

#hr1{
  color: rgb(38, 18, 73); 
  width: 70%;
  margin-right:auto; 
  margin-left: auto;
  border-top: 3px dotted;
}

h2.text-center{
    font-family:Algerian;
    font-size: 55px;
    padding-bottom: 5px;
    font-weight: bold;
    text-shadow: 3px 8px 5px rgba(20, 20, 21, 0.5);
}

.tableheading {
    font-size: 30px;
    text-align: center;
}


.table-bordered{
    background-color:orange;
    table-layout:fixed;
    text-align:center;
    font-family:Calibri;
    font-size: 20px;
}

/*CARDS OF COURSES*/
/*_________________*/

.main1{
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  font-size: 25px;
  line-height: 38px;
  padding-left: 40px;
  padding-right:40px;
  padding-bottom: 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}


#cards-heading{
    font-family: algerian;
    font-size: 55px;
    color: rgb(7, 50, 130);
    font-weight: bold;
    margin-top: 30px;
    text-shadow: 3px 6px 5px rgba(20, 20, 148, 0.5);
    text-decoration-line: underline;
}

.main2{
  display:flex;
  align-items: center;
  justify-content: center;
}

  .cards{
    display: inline-block;
    margin-bottom: 60px;
    margin-left: 30px;
    width: 23%;
    background-color: rgb(173, 163, 13);
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
    color:rgb(2, 0, 0);
}

.cards:hover{
    box-shadow: 5px 5px 20px rgb(17, 255, 17);
    transition: 0.3s;
}

.cards-image-top{
    width: 100px;
    height: 15vw;
    object-fit: cover;
}

.image img{
    height: 18rem;
    width:100%;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.title{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);

}

.des{
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: Calibri;
}

#but{
    background-color: rgb(255, 254, 254);
    color: rgb(236, 13, 13);
    margin-top: 20px;
    margin-bottom: 10px;
    padding:6px;
    border-radius: 5px;
    border-color: 1px solid black;
    cursor:pointer;
}

#but:hover{
    background-color:rgb(199, 241, 11);
    color: black;
    transition: 0.5s;
}


/*FOOTER*/
/*------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}

html, body{
  height:100%;
}

.container1{
  min-height: 100%;
  margin-bottom: 100px;
}

.main{
  overflow:data;
  padding-bottom: 100px;
}

#footer{
      position: relative;
      height: 390px;
      margin-top: -100px;
      clear: both;
      background-color: black;
}

footer{
  width: 100%;
  bottom: 0;
  left: 0;
  background: #111;
}

footer .content{
  max-width: 1750px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p,a{
  color: #fff;
}

footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic{
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;

}
footer .content p{
  text-align: justify;
}

footer .content .middle{
  padding-left: 130px;
}

footer .content .middle a{
  line-height: 32px;
}

footer .content .media-icons a{
  font-size: 16px;
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #32ff08;
  transition: all 0.3s ease;
}

.content .media-icons a:hover{
  border-color: #eb2f06;
}

footer .content .contact{
  color: #d9d9d9;
  font-size: 20px;
}

footer .content .right .topic{
  margin-left: 100px;
}

footer .bottom{
  width: 100%;
  text-align: left;
  color: #d9d9d9;
  padding-left:100px;
}

footer .bottom a{
  color: #eb2f06;
}

footer a{
  transition: all 0.3s ease;
}

footer a:hover{
  color: #eb2f06;
}

@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }

@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

/*NAVBAR*/
.logo{
    box-shadow: 3px 3px 12px rgb(228, 107, 14);
    border: 3px solid orange;
    margin-left: 5px;
    border-radius: 50px;
    width: 100px;
    height: 60px;
    cursor: pointer;

}

.nav_bar{
    border-radius: 15px;
    background-color: rgb(22, 13, 13);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
}

#nav_bar{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    list-style: none;
}

.social_media{
    margin-left: 5px;

}

.social_media a{
    margin: 20px;  
}

.social_media a i{
    line-height: 100px;
}

.fa-facebook{
    color: rgb(9, 121, 225);
}

.fa-facebook:hover{
    transition: 0.1s;
    font-size: 40px;
    color: rgba(222, 227, 235, 0.96);
}

.fa-instagram{
    color: rgba(213, 72, 149, 0.823);
}

#instagram:hover{
    transition: 0.1s;
    font-size: 40px;
    color: rgb(240, 8, 232);
}

.fa-youtube{
    color: rgba(255, 4, 4, 0.83);
}

.fa-youtube:hover{
    transition: 0.1s;
    font-size: 40px;
    color: rgba(222, 227, 235, 0.96);
    text-shadow: 1px 1px 10px red;
}

#li_5{
    margin-left: 480px;
}

li{
    color: lavender;
    margin: 30px;
    margin-right: 0.2px;
    cursor: pointer;
}

li:hover{
    color: orange;
    transition: 0.2s;
}

#navigation{
  display: flex;
}